* {
  background-color: blue;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 300%;
  color: white;
  font-family: "Merriweather", serif;
  text-align: center;
  margin-top: 10%;
}

.tel,
.email,
.password,
.date,
.passwordd {
  padding: 1%;
  padding-right: 20%;
  background-color: white;
  border-radius: 20px;
  margin-left: 34%;
  margin-top: 2%;
  outline: none;
  border: none;
}

.date {
  padding-right: 9%;
}

.checkbox {
  margin-left: 3%;
  transform: scale(1.5);
  opacity: 0.9;
  cursor: pointer;
  font-size: 200%;
}

p {
  font-size: 120%;
  float: right;
  margin-top: 2.7%;
  margin-right: 36%;
  color: white;
}

.registration {
  padding: 1%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: rgb(11, 78, 234);
  border-radius: 20px;
  margin-left: 40%;
  margin-top: 2%;
  border: none;
  box-shadow: 0.3em 0.3em 0.3em rgb(0, 0, 0);
  cursor: pointer;
}

.block {
  width: 100px;
  height: 100px;
}

.registration:active {
  box-shadow: 0 0 0 60px rgba(203, 203, 203, 0.05) inset;
}

.theEnd {
  padding: 1%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: rgb(11, 78, 234);
  border-radius: 20px;
  margin-left: 40%;
  margin-top: 2%;
  border: none;
  box-shadow: 0.3em 0.3em 0.3em rgb(0, 0, 0);
  display: none;
}
